.r-Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 4rem;
  position: relative;
}

.r-Auth > div {
  display: flex;
  align-items: center;
  justify-content: center;
    width:   -webkit-fill-available
}

.r-a-lefts{
    height: 100vh;
    width: 135%;
    margin-left: 78%;
}
.r-a-leftss{
    height: 100vh;

}

/* left side */
.r-a-left{
    gap: 2rem;
}

.r-a-left > img {
  width: 4rem;
  height: 4rem;
}

.r-Webname > h1 {
    font-size: 3rem;
    background-color: red;
  
    /* Create the gradient. */
    background-image: var(--buttonBg);
    
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.r-Webname>h6{
    font-size: 0.85rem;
}



/* right side */


.r-authForm{
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
    width: 75vh;
}

.r-authForm>div{

    align-items: center;
    justify-content: center;
}
.r-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: var(--buttonBg);
    transition: all 100ms ease-out;
}

.r-button:hover {
    color: var(--orange);
    border: 2px solid var(--orange);
    cursor: pointer;
    background: transparent;
}

.r-button:disabled{
    background: silver;
    pointer-events: none;
}


::-webkit-scrollbar {
    display: none;
}



/* Form Styling */
.r-infoForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.r-infoInput{
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex:1;
}

.r-infoForm>div{
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
}

.r-infoButton{
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
}
.r-select{
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
}